MQTT_BROKER_HOST=hamqttnedvezska.ag.management.orcave.com
MQTT_BROKER_PORT=8883
MQTT_USERNAME=orcave
MQTT_PASSWORD=replace-with-password
MQTT_CLIENT_ID=anygate-presence-nedvezska
MQTT_QOS=1
MQTT_TLS=true
MQTT_TLS_INSECURE=true
PRESENCE_CONFIG=config/nedvezska.json
MAX_RECENT_MESSAGES=100
DATA_DIR=data
